@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply text-default m-0 p-0 font-normal leading-[1.8]
  }

  h1,
  .h1 {
    @apply text-2xl leading-[1.8]
  }

  h2,
  .h2 {
    @apply text-xl leading-[1.8]
  }

  h3,
  .h3 {
    @apply text-lg leading-[1.8]
  }

  small,
  .small {
    @apply text-sm leading-[1.8]
  }

  a {
    @apply text-inherit
  }

  * {
    @apply box-border
  }

  aside,
  aside * {
    @apply text-white
  }

  .about,
  .about * {
    --primary-color: #FF5C4A;
    --primary-color-hover: #FF5C4A88;
  }

  .news,
  .news * {
    --primary-color: #E0E404;
    --primary-color-hover: #E0E40488;
  }

  .competition,
  .competition * {
    --primary-color: #004EFF;
    --primary-color-hover: #004EFF88;
  }

  .judge,
  .judge * {
    --primary-color: #04E4AE;
    --primary-color-hover: #04E4AE88;
  }

  .shortlist,
  .shortlist * {
    --primary-color: #FFC700;
    --primary-color-hover: #FFC70088;
  }

  .activity,
  .activity * {
    --primary-color: #8388FF;
    --primary-color-hover: #8388FF88;
  }

  .question,
  .question * {
    --primary-color: #FF005C;
    --primary-color-hover: #FF005C88;
  }

  .exhibition,
  .exhibition * {
    --primary-color: #606060;
    --primary-color-hover: #60606088;
  }
}

main.notion-page {
  max-width: none !important;
  width: auto !important;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ql-editor {
  min-height: 25vh;
}

.ql-tooltip {
  z-index: 50;
}