@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply text-default m-0 p-0 font-normal leading-[1.8]
  }

  h1,
  .h1 {
    @apply text-2xl leading-[1.8]
  }

  h2,
  .h2 {
    @apply text-xl leading-[1.8]
  }

  h3,
  .h3 {
    @apply text-lg leading-[1.8]
  }

  small,
  .small {
    @apply text-sm leading-[1.8]
  }

  a {
    @apply text-inherit
  }

  * {
    @apply box-border
  }

  aside,
  aside * {
    @apply text-white
  }

  .about,
  .about * {
    --primary-color: #FF5C4A
  }

  .news,
  .news * {
    --primary-color: #E0E404
  }

  .competition,
  .competition * {
    --primary-color: #004EFF
  }

  .judge,
  .judge * {
    --primary-color: #04E4AE
  }

  .shortlist,
  .shortlist * {
    --primary-color: #FFC700
  }

  .activity,
  .activity * {
    --primary-color: #8388FF
  }

  .question,
  .question * {
    --primary-color: #FF005C
  }

  .exhibition,
  .exhibition * {
    --primary-color: #606060
  }
}



a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ql-editor {
  min-height: 25vh;
}

.ql-tooltip {
  z-index: 50;
}